@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'League Spartan', sans-serif;
}
.main-bg{
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
}
.main-art{
    width: 85vw;
    margin: auto;
    padding-top: 7rem;
}
.top-div{
    display: grid;
    grid-template-columns: 55% 45%;
}
.desktop{
    display: block;
}
.mobile{
    display: none;
}
.top-txts h2{
    font-weight: 900;
    color: hsl(300, 43%, 22%);
    font-size: 4rem;
    margin-bottom: 1rem;
    word-spacing: -1px;
    letter-spacing: -1px;
}
.top-txts p{
  color: hsl(303, 10%, 53%);  
  font-weight: 700;
  font-size: 1.3rem;
}
.star-flex{
    display: flex;
    border-radius: .5rem;
    background-color: hsl(333, 50%, 90%);
    padding: .8rem 0 .8rem 0;
    margin-top: 1rem;
    align-items: center;
    width: 85%;
    justify-content: space-around;
}
.two{
    margin-left: 5rem;
}
.three{
    margin-left: 9rem;
}
.star-txt h4{
    color: hsl(300, 43%, 22%);
    font-weight: 600;
    font-size: 1.5rem
}
.bottom-div{
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    align-items: flex-start;
}
.cd1, .cd2, .cd3{
    background-color: hsl(300, 43%, 22%);
    flex-basis: 31.5%;
    border-radius: 1rem;
    padding: 0 0 4rem 0;
}
.cd1{ 
    margin-left: 1rem;
}
.cd2{
    margin-top: 2rem;
}
.cd3{
    margin-top: 4rem;
}
.profile{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    margin: 2rem;
}
.profile .img-div img{
    border-radius: 100%;
    width: 45%;
}
.img-txt{
    margin-left: -2.5rem;
}
.white{
    color: white;
}
.purple{
    color: hsl(333, 80%, 67%);
}
.write-up{
    color: white;
    font-size: 1.6rem;
    width: 80%;
    margin: auto;
    /* margin-bottom: 4rem; */
}












/* RESPONSIVE WEB DESIGN STARTS HERE */
@media (max-width: 550px){
    .top-div{
        grid-template-columns: repeat(1,1fr);
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .top-txts{
        text-align: center;
    }
    .top-txts h2{
        font-size: 4rem;
    }
    .top-txts p{
        font-size: 1.5rem;
    }
    .top-ratings{
        margin: 2.5rem 0;
    }
    .star-flex{
        width: 100%;
        flex-direction: column;
    }
    .star-img{
        margin: .3rem 0;
    }
    .two, .three{
        margin: 1.5rem 0 0 0;
    }
    .bottom-div{
        flex-direction: column;
    }
    .profile{
        margin: 2rem auto;
    }
    .cd1, .cd2, .cd3{
        margin-left: 0;
        margin-bottom: 0;
        padding: 2rem 0 4.5rem 0;
    }
    .cd3{
        margin-top: 2rem;
    }
}


/*------------------------- RESPONSIVENESS FOR TABLET VIEW ------------------------- */
@media(min-width: 551px) and (max-width: 890px){
    .top-div{
        grid-template-columns: 50% 40%;
    }
    .top-txts h2{
        font-size: 2.7rem;
    }
    .top-txts p{
        font-size: 1.5rem;
    }
    .star-flex{
        width: 100%;
    }
    .star-img img{
        width: 10%;
    }
    .star-txt{
        margin-left: -5rem;
    }
    .star-txt h4{
        font-size: 1rem;
    }
}